@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap');

$fonts: IM Fell Great Primer SC, serif;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $fonts;
  background-color: black;
  font-size: 2rem;
  color: whitesmoke;
}
